<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1031295144056-ink7ce2kvlh7unl7cb0vgdlsfrc69j85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031295144056-ink7ce2kvlh7unl7cb0vgdlsfrc69j85</string>
	<key>API_KEY</key>
	<string>AIzaSyAcA-fcUDAUjDYqXuWB7sLtW0fR7Dz6vO8</string>
	<key>GCM_SENDER_ID</key>
	<string>1031295144056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodrigo.Sisma</string>
	<key>PROJECT_ID</key>
	<string>sisma-7e1fd</string>
	<key>STORAGE_BUCKET</key>
	<string>sisma-7e1fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031295144056:ios:9bd18e44b9519856</string>
	<key>DATABASE_URL</key>
	<string>https://sisma-7e1fd.firebaseio.com</string>
</dict>
</plist>